[submodule "KMC"]
	path = KMC
	url = https://github.com/refresh-bio/KMC
[submodule "seqan"]
	path = seqan
	url = https://github.com/seqan/seqan
[submodule "murmer"]
	path = murmer
	url = https://github.com/martinjvickers/murmer.git
